// .container {
//   @include desktop {
// width:1024px;
// }
// }
// .about-shadow {
  // width:100%;
  // height:100%;
  // opacity: 0.4;

// }
.about-p-wrapper {
  @include desktop {
  background: rgba(252, 252, 252,0.7);
  background-size:cover;
  position:relative;
  top:30px;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  line-height:0;
  height:300px;
  width:500px;
  .second-line {
    margin-bottom: 250px;
  }
 }
}

.helping {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  p {
    color:#1A2776;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    bottom:170px;
    @include desktop {
      color:#1A2776;
      font-size: 2rem;
      text-transform: uppercase;
      position: relative;
      top: 100px;
    }
  }
  @include desktop {
    height:500px;
    margin-bottom: 80px;
    .about-image {
      width:90%;
      height:70%;
      background:  linear-gradient(to bottom, rgba(252, 252, 252,0.7) 0%, rgba(252, 252, 252,0.7) 100%);
      background-size: cover;
      position: absolute;
      // right:80px;
    }
  }
}
.who-we-are {
  display:flex;
  justify-content: center;
  align-items: center;
  color:#1A2776;
  height:70px;
  width:100%;
  font-size: 1.7rem;
}
.about-content {
  display:flex;
  justify-content: center;
  background-color:#F6C11E;
  flex-direction: column;
  align-items: center;
  color:#85CEEE;
  height:200px;
  width:100%;
  p {
    width:80%;
    font-size: 1rem;
    @include desktop {
      display:none;
      visibility: 0;
    }
  }
  .ab-desktop{
    display: none;
    visibility: 0;
    @include desktop {
      display:flex;
      justify-content: center;
      width:200px;
      height:30px;
      background-color: white;
    }
  }
  @include desktop {
    height:300px;
    margin-bottom:80px;
  }
  .desktop-ac {
    display:none;
    visibility: 0;
    @include desktop {
      display:flex;
      font-size: 1.5rem;
      width:55%;
      text-align: center;
      margin-top: 40px;
    }
  }
}
.about-location {
  display:flex;
  justify-content: center;
  align-items: center;
  color:#1A2776;
  height:70px;
  font-size: 1.7rem;
}
.location {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#85CEEE;
  color:#1A2776;
  height:200px;
  width:100%;
  p {
    width:80%;
    @include desktop {
      display:none;
      visibility: 0;
    }
  }
  @include desktop {
    height:300px;
    margin-bottom: 60px;
    .desktop-location {
      display:flex;
      font-size: 1.5rem;
      width:55%;
      text-align: center;
      margin-top: 40px;

    }
  }
  .ac-desktop{
    display: none;
    visibility: 0;
    @include desktop {
      display:flex;
      justify-content: center;
      width:200px;
      height:30px;
      background-color: white;
    }
  }
}
.desktop-location{
  display: none;
  visibility: 0;
}
.desktop-ac {
  display: none;
  visibility: 0;
}
.about-buttons {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
  .about-book {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    background-color: #1A2776;
    color:#F6C11E;
    @include desktop {
      display:none;
    }
  }
  .about-contact {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    background-color: #1A2776;
    color:#F6C11E;
    @include desktop {
      display:none;
    }
  }
}
