
.helping {
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100% ), url(../../images/about-us.png)top no-repeat center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  text-align: center;
  height: 250px;

  @include desktop {
    background: url(../../images/about-us.png)top no-repeat center;
    background-size: cover;
    height: 474px;
    margin: 0 0 4rem 0;
  }
}

.about-text {
  font-family: 'Roboto Slab', sans-serif;
  color:#1A2776;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;

  @include desktop {
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 2rem;
    width: 60%;
    height: auto;
  }
}

.who-we-are {
  display:flex;
  justify-content: center;
  align-items: center;
  color:#1A2776;
  height:70px;
  width:100%;
  font-size: 1.7rem;
}

.about-content {
  display:flex;
  justify-content: center;
  background-color:#F6C11E;
  flex-direction: column;
  align-items: center;
  color: $color__brand-one;
  height:200px;
  width:100%;

  p {
    width:80%;
    font-size: 1rem;

    @include desktop {
      display:none;
      visibility: 0;
    }
  }

  .ab-desktop {
    display: none;
    visibility: 0;

    @include desktop {
      text-transform: uppercase;
      display:flex;
      justify-content: center;
      width:200px;
      height:30px;
      background-color: white;
      margin: 0 0 2rem 0;
      border: none;
    }
  }

  @include desktop {
    height:300px;
    margin: 0 0 4rem 0;
  }

  .desktop-ac {
    display:none;
    visibility: 0;

    @include desktop {
      display:flex;
      font-size: 1.5rem;
      width:55%;
      text-align: center;
      margin-top: 40px;
      color:#91A8D0;
    }
  }
}

.about-location {
  display:flex;
  justify-content: center;
  align-items: center;
  color:#1A2776;
  height:70px;
  font-size: 1.7rem;
}

.location {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#85CEEE;
  color:#1A2776;
  height:200px;
  width:100%;

  p {
    width:80%;

    @include desktop {
      display:none;
      visibility: 0;
    }
  }

  @include desktop {
    height:300px;
    margin-bottom: 60px;

    .desktop-location {
      display:flex;
      font-size: 1.5rem;
      width:55%;
      text-align: center;
      margin-top: 40px;
    }
  }

  .ac-desktop {
    display: none;
    visibility: 0;

    @include desktop {
      text-transform: uppercase;
      display:flex;
      justify-content: center;
      width:200px;
      height:30px;
      background-color: white;
      margin: 0 0 2rem 0;
      border: none;
    }
  }
}

.desktop-location {
  display: none;
  visibility: 0;
}

.desktop-ac {
  display: none;
  visibility: 0;
}

.about-buttons {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:100px;

  .about-book {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    background-color: #1A2776;
    color:#F6C11E;

    @include desktop {
      display:none;
    }
  }

  .about-contact {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    background-color: #1A2776;
    color:#F6C11E;

    @include desktop {
      display:none;
    }
  }
}
