.site-main {
  padding:0;
}
.top-text-block {
  display:none;
  @include desktop  {
    margin: 15em auto;
    text-align: center;
    font-size: 2em;
    color:$color__brand-one;

  }
}

.desktop-border {
  position: relative;
}

.desktop-border:before {
  display:none;
  @include desktop {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 15px solid white;
    opacity:.5;
  }
}

img {
  vertical-align: middle; /* optional */
}

.desktop-border  {
    display:none;
    @include desktop {
      display:block;
  }
}
.parent-title {
  position:relative;
}
.child-title {
  position:absolute;
  transform: translate(-50%, -50%);
  text-align:center;
  top:40%;
  left:50%;
  padding:10px 20px 10px 20px;
  color:#FFF;
  background-color:#F6C11E;
}

.category-image-loop {
  position:relative;
  width:500px;
  height:325px;
  overflow:hidden;
}


.category-image-loop:before {
    background: rgba(250,225,85,0.8);
    overflow: hidden;
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
}


.pack-title-link-wrapper {
  position:relative;
}

.package-title-wrapper {
  display: flex;
  justify-content: center;
}

.pack-title {
  position: absolute;
  text-align:center;
  transform: translate(-50%, -50%);
  top:45%;
  left:50%;
}

.pack-link {
  width:100px;
  padding: 10px 20px;
  text-tansform:uppercase;
  border:1px solid red;
}

.package-loop-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    width:1280px;
    margin:0 auto;
  }
}
.package-child {
  flex: 1 0 48%;
  max-width: 500px;

  &:nth-child(odd) {
    margin:3rem 0 3rem;
    @include desktop {
      margin: 0 2rem 2rem 0;


    }
  }
}
