.site-main {
  padding:0;
}

.single-related-title {
  text-transform:uppercase;
  text-align:center;
  font-size:2em;
  padding:3em 0 4em 0;
}

.related-loop-wrapper {
  width: 100%;
  flex-direction:column;
  align-items:center;
  display:flex;
  @include desktop {
    padding-bottom:6em;
    flex-direction:row;
    width: 1000px;
    margin: 0 auto;
    display:flex;
    justify-content:space-around;
  }
}

.related-child {
  height:175px;
  overflow:hidden;
  margin-bottom:2em;
  @include desktop {
    height:175px;
    overflow:hidden;
  }
}

.decor-text-block-wrapper {
  display:none;
  @include desktop {
    padding:2em;
    display:inline;
  }
}

.decoration {
  margin: 0 auto 3em auto;
  width:65px;
  height:65px;
}

.top-text-block {
  margin: 0 auto;
  padding:2em 0 2em 0;
  text-align: center;
  font-size: 2em;
  color:$color__brand-one;
}

.desktop-border {
  position: relative;
}

.desktop-border:before {
  display:none;
  @include desktop {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 15px solid white;
    opacity:.5;
  }
}

img {
  vertical-align: middle; /* optional */
}

.desktop-border  {
  display:none;
  @include desktop {
    display:block;
  }
}
.parent-title {
  position:relative;
}

.child-title {
  position:absolute;
  transform: translate(-50%, -50%);
  text-align:center;
  top:40%;
  left:50%;
  padding:10px 20px 10px 20px;
  color:#FFF;
  background-color:#F6C11E;
}

.category-image-loop {
  position:relative;
  width:500px;
  height:325px;
  overflow:hidden;
  img {
    width:500px;
    height:325px;
  }
}

.category-image-loop:before {
  background: rgba(250,225,85,0.8);
  overflow: hidden;
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.related-image-loop {
  position:relative;
  width:300px;
  height:175px;
  overflow:hidden;
}

.related-image-loop:before {
  background: rgba(250,225,85,0.8);
  overflow: hidden;
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.related-title-link-wrapper {// taxonomy-class-type.php
  position:relative;
}

.related-title-wrapper { // single-class.php
  display: flex;
  justify-content: center;

  a, a:visited {
    color: $color__brand-one;

    &:hover {
      color: $color__brand-three;
    }
  }
}

.related-title {
  position: absolute;
  text-align:center;
  transform: translate(-50%, -50%);
  top:45%;
  left:50%;
}

.pack-title-link-wrapper {// taxonomy-class-type.php
  position:relative;
}

.package-title-wrapper {
  display: flex;
  justify-content: center;
}

.pack-title {
  position: absolute;
  text-align:center;
  transform: translate(-50%, -50%);
  top:45%;
  left:50%;

  a, a:visited {
    color: $color__brand-one;

    &:hover {
      color: $color__brand-three;
    }
  }
}

.pack-link {
  width:100px;
  padding: 8px 16px;
  text-transform: uppercase;
  border:1px solid $color__brand-one;
  text-decoration:none;
  font-weight:700;
}

.package-loop-parent {
  max-width: 1500px;
  margin: 0 auto;
}

.package-loop-wrapper:nth-child(odd) {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    width:100%;
    margin:0 auto;
  }
}

.package-child {
  flex: 1 0 48%;
  max-width: 500px;

  &:nth-child(odd) {

    margin:3rem 0 3rem;
    @include desktop {
      background: rgba(150,25,85,0.8);
      margin: 0 2rem 2rem 0;
    }
  }
}
