.class-name {
  color: #F6C11E;
}
.classes img {
  display:none;
}
.class-header {
  color: #FFF;
  background-color: $color__brand-one;
  padding:1em;
  text-align: center;
}
.book-now {
  min-height: 200px;
  background-color:#FF8578;
  color:#FFF;
  text-align: center;
}
.book-now {
  height:60px;
  background-color:#FF8578;
  color:#FFF;
}
.class-bring {
  height:60px;
  background-color:#F0EFEF;
  color:#FFF;
}
