

.header-feature-img {
  display:flex;
}

.class-name {
  color: #F6C11E;
}

.class-feature-img {
  display:none;

  @include desktop {
    flex:0 1 40%;
    display:inline-block;
    overflow:hidden;
  }
}

.class-feature-img {
  flex-shrink: 0;
  min-width: 500px;
  min-height: 250px;

  img {
    width: 100%;
    height: 375px;
    object-fit: cover;
  }
}

.class-page-title {
  background-color:#ccc;
  text-align:center;
  width:100%;
  margin:.5em auto .5em auto;
  text-transform:uppercase;
  padding: .5em 0;
}

.class-page-title h3 {
  margin:0;
  padding:0;
}

.class-header {
  color: #FFF;
  background-color: $color__brand-one;
  padding:1em;
  text-align: center;

  @include desktop {
    font-size:1.2em;
    flex:1 0 60%;
    height:375px;
    padding:1em 3em 0 3em;
  }
}

.book-beatles-bring {
  flex-direction: column;
  display:flex;

  @include desktop {
    flex-direction:row;
    margin:-17px;
    height:350px;
  }
}

.class-beatles span {
  position:absolute;
  bottom: 3.5em;
  left: 60%;
}


.class-beatles {
  display:none;

  @include desktop {
    position:relative;
    background-color:#F6C11E;
    display:block;
    padding:2em 3em 2em 5em;
    flex:0 1 30%;
    margin-top:-7px;;
  }

  .fa-quote-left {
    &:before {
      color: rgba(174, 228, 251, 0.5);
      position: absolute;
      top: 1rem;
      left: -1rem;
      font-size: 60px;
      z-index: -1;
    }
  }

  .fa-quote-right {
    z-index: -1;

    &:before {
      color: rgba(174, 228, 251, 0.5);
      position: absolute;
      font-size: 60px;
      bottom: -1rem;
      left: 13rem;
      z-index: -1;
    }
  }

  p {
    display: none;

    @include desktop {
      display: block;
      color: #FFF;
      font-size: 1.5em;
      z-index: 2;
    }
  }
}

.book-now {
  min-height: 290px;
  background-color:#FF8578;
  text-align: center;
  margin-top: 10px;
  flex-direction:column;
  display:flex;
  color:#FFF;
  padding:1em;
  @include desktop {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:-7px;;
    min-height:0;
    flex:0 1 40%;
    display:inline-block;
    order:1;
  }
}

.persian-wrapper {
  display:flex;
  padding:0;
  margin:0;
}

.class-bring {
  margin-top: 10px;
  padding:1em;
  text-align: center;
  background-color:#F0EFEF;
  color:#000;
  @include desktop {
    margin-top:-7px;;
    flex:0 1 30%;
  }
}

.class-bring ul, li {
  list-style: none;
  margin:0;
  padding:0;
  display:inline-block;
}

.class-bring p {
  margin:0;
}

.class-price {
  margin: 8px 0 -34px 0;
  padding-top: 1em;
}

.class-length, .class-price, .class-bring {
  font-size: 2em;
}

.book-now-btn {
  margin: 0 auto;
  width:150px;
  text-align:center;
  padding:8px 15px 8px 16px;
  color:#FFF;
  text-transform: uppercase;
  background-color:#D12027;
  border:0;
  outline:none;

  @include desktop {
    width:50%;
    margin: 0 auto;
    border: 0;
    outline: none;
  }
}

.class-quote p {
  font-size:1.2em;
  padding:  8em 7em 0 7em;
  margin:0;
}

.class-quote {
  display:none;

  @include desktop {
    position:relative;
    background-color:FFF;
    margin: auto 15%;
    color:#000;
    padding:2em 2em 6em 2em;
    display:block;
  }

  .fa-quote-left {

    &:before {
      position:absolute;
      color: rgba(174, 228, 251, 0.5);
      content: "\f10d";
      font-family: 'FontAwesome';
      font-size: 130px;
      top: 1em;
      left: .5em;
      z-index:-2;
    }
  }

  .fa-quote-right {

    &:before {
      position:absolute;
      color: rgba(174, 228, 251, 0.5);
      content: "\f10e";
      font-family: FontAwesome;
      font-size: 130px;
      bottom: .1em;
      left: 40rem;
      z-index:-2;
    }
  }
}

.class-double-dance {
  color:#000;
  min-height: 200px;
  background-color: green;
}

.class-mega-wow {
  min-height: 200px;
  color: $color__brand-one;
  background-color: #F6C11E;
}

.class-wedding-wow {
  min-height: 200px;
  color: #F6C11E;
  background-color: $color__brand-one;
}

.class-wedding-wow, .class-mega-wow, .class-double-dance {
  text-align:center;
  padding-top: 1em;
}
