/*--------------------------------------------------------------
# Navigation Mobile First
--------------------------------------------------------------*

/* custom drawer style mobile navigation */

.responsive-nav-icon::before,
.responsive-nav-close::before {
    cursor: pointer;
    color: #000;
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 36px;
    position: relative;
		flex: 0 0 20%;
		display:flex;
		align-self:center;
}

.responsive-nav-close::before {
    font-family: FontAwesome;
    color: #888888;
    content: "\f00d";
    font-size: 24px;
}

.responsive-nav-icon {
	background: #fff;
	line-height: normal;
	padding: 5px 8px 4px;
	top: 5%; right: 5%;
}

.responsive-nav-icon:hover,
.responsive-nav-close:hover {
	opacity: .7;

}

.responsive-nav-close {
	top: 30px; right: 30px;
}

.responsive-nav-icon,
.responsive-nav-close {
    cursor: pointer;
    display: none;
}

#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; right: 0;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 2;
}

.menu {
  padding-top:50px;
}

.main-navigation li {
  display:inline-block;
  text-align:right;
  padding-right:2em;
}

@media only screen and (max-width: 960px) {

.main-navigation li {
    display:inline-block;
    text-align:right;
    padding-right:.5em;
  }


.responsive-nav-icon,
.responsive-nav-close {
    display: block;
    position: absolute;
    z-index: 1;
	}

  .menu-mainmenu-container {
      width:100%;
  }

	nav {
	    height: 100%;
	    padding: 20px;
	    position: fixed;
	    top: 0; right: -600px;
	    transition: all 0.4s linear 0s;
	    width: 0;
      background-color:#FFF;
	}

	nav.slide-in {
	    right: 0;
      border-left:20px solid #1A2776;
	    overflow-y: scroll;
	    width: 360px;
	    z-index: 10;
	}

	nav .menu-item {
		display: block;
}

} /* end of 960 break point */
/*--------------------------------------------------------------
/*          end custom drawer style mobile navigation          */
/*--------------------------------------------------------------*/
@media screen and (min-width: 960px) {

.main-navigation ul {
		display: block;
	}
}

nav {
		flex: 1 0 66%;
		display:flex;
		align-self:flex-end;
    justify-content:flex-end;
}

.ndd-logo img {
	padding: 20px 0 0 20px;
	width:90%;
	min-width:160px;
}

.logo-menu-wrapper {
		justify-content:space-between;
		display:flex;
}

.site-branding  {
	display:flex;
	flex: 0 1 33%;
}
.main-navigation {
		display:flex;

}


/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */


.main-navigation {
	clear: both;
	width: 100%;

	ul {
    font-weight: 700;
		// display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
    // padding-right: 2em;
    text-transform: uppercase;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
    font-size: .75em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */


.menu-toggle,
.main-navigation.toggled ul {
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.menu-toggle {
  display: none;
}
