/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Instructor Archive */

.site-main {
  margin: 0 auto;
  padding: 0 3rem;
}

.page-header {
  margin: 0 auto;
  background-color: $color__brand-six;
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;

  @include desktop {
    background-color: #fff;
    margin: 0 0 0 0;
  }
}

.instructor-location {
  font-family: 'Brandon', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color__brand-one;
  text-transform: uppercase;
  border-bottom: 10px solid $color__brand-six;
  margin: 0 0 0.5rem 0;
}

.location-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 2.5rem 0;
}

.instructor-single {
  text-align: center;
  flex: 0 1 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5rem 0;

  @include desktop {
    flex: 0 1 20%;
  }

  a, a:visited {
    font-family: 'Brandon', sans-serif;
    font-size: 1.25rem;
    color: $color__brand-one;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color__brand-three;
    }
  }
}

.instructor-pic {
  background-size: contain;
  overflow: hidden;
  max-width: 200px;
  max-height: 250px;

  img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
}

.instructor-name {
  padding: 2rem 0.75rem;
  background-color: $color__brand-six;
  display: flex;
  justify-content: center;
}

/* Instructor Archive */

.entry-header {
  text-align: center;
}

.instructor-entry {
  text-align: center;
  background-color: $color__brand-six;
  padding: 1rem 0;
  margin: 0 -3rem;
}

.instructor-info {

  button {
    float: none;
  }

  .contact-instructor {
    text-transform: uppercase;
    background-color: $color__brand-one;
    text-align: center;
    width: 8rem;
    padding: 0.75rem 1rem;

    a, a:visited {
      font-family: 'Brandon', sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      background-color: $color__brand-three;
    }

  }
}
