/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Instructor Archive */

.page-header {
  margin: 0 auto;
  background-color: $color__brand-six;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.instructor-location {
  display: none;

  @include desktop {
    font-family: 'Brandon', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color__brand-one;
    text-transform: uppercase;
    border-bottom: 10px solid $color__brand-six;
  }
}

.location-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.instructor-single {
  text-align: center;
  flex: 0 1 50%;
  display: flex;
  justify-content: center;

  @include desktop {
    flex: 0 1 20%;
  }

  a, a:visited {
    font-family: 'Brandon', sans-serif;
    font-size: 1.25rem;
    color: $color__brand-one;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color__brand-three;
    }
  }
}

.instructor-pic {
  background-size: contain;
  overflow: hidden;
  height: 300px;
}

.instructor-name {
  padding: 2rem;
  background-color: $color__brand-six;
  display: flex;
  justify-content: center;
}
